* {
    box-sizing: border-box;
  }

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
 }

 .profile img {
    width: 150px;
 }

 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 40px;
    margin-top: 20px;
 }


 .jumbotron {
    padding: 60px;
    background-color: #020102;
    text-align: center;
    font-size: 20px;
    color: rgb(247, 243, 243);
  }

  nav {
    background-color: #070707;
    padding: 5px;
    position: sticky;
    top: 0;
 }

  nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
  }

  nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(249, 246, 246);
  }

  main {
    padding: 20px;
    overflow: auto;
  }

  #content {
    float: left;
    width: 75%;
  }

  header {
    display: inline;
 }

  aside {
    float: right;
    width: 25%;
    padding: 5px 5px;
    text-align: center;
  }


  @media screen and (max-width: 1000px) {
    #content,
    aside {
      width: 100%;
      padding: 0;
    }
  }

  footer
  {
    text-align: center;
    background-color: #fcf9f9;
    padding: 10px;
  }

  #panel, #panel1, #panel2{
    display: none;
  }

  #flip, #flip1, #flip2{
    float: right;
    cursor: pointer;
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');